In [35]:
import pandas as pd
from datetime import datetime as dt

In [60]:
url = "https://github.com/beyarkay/eskom-calendar/releases/download/latest/machine_friendly.csv"
df_raw = pd.read_csv(url, parse_dates=['start', 'finsh'])

In [47]:
?dt.now

Signature: dt.now(tz=None)
Docstring:
Returns new datetime object representing current time local to tz.

  tz
    Timezone object.

If no tz is specified, uses local timezone.
Type:      builtin_function_or_method

In [57]:
my_area = 'city-of-cape-town-area-9' # Pinelands

In [129]:
# Filter Area 
df =  (df_raw
       .query(f"area_name == '{my_area}'")
       .reset_index(drop=True)
       .copy()
      )

# Now
my_tz = df.start[0].tz
date_now = dt.now(tz=my_tz)

# Filter and Sort
df = df[df['start'] > date_now]
df = df.sort_values('start')

df

,area_name,start,finsh,stage,source
3,city-of-cape-town-area-9,2023-04-16 02:00:00+02:00,2023-04-16 04:30:00+02:00,6,https://twitter.com/CityofCT/status/1647223716...
4,city-of-cape-town-area-9,2023-04-16 08:00:00+02:00,2023-04-16 12:30:00+02:00,6,https://twitter.com/CityofCT/status/1647223716...
5,city-of-cape-town-area-9,2023-04-16 18:00:00+02:00,2023-04-16 20:30:00+02:00,6,https://twitter.com/CityofCT/status/1647223716...
6,city-of-cape-town-area-9,2023-04-17 00:00:00+02:00,2023-04-17 02:30:00+02:00,6,https://twitter.com/CityofCT/status/1647223716...

In [139]:
# Get Next Loadshedding Time
time_next = df.start.dt.to_pydatetime()[0]

time_next

datetime.datetime(2023, 4, 16, 2, 0, tzinfo=pytz.FixedOffset(120))

In [142]:
dt.strftime(time_next, "%Y/%M/%D %H:%M:%S")

'2023/00/04/16/23 02:00:00'